.table1{
    color: black;
    font-size: 30px;
    border: 12px;
    
}
    table, th, td {
        border: 1px solid black;
}

.div1{
    width: 730px;
    border:  1px solid yellow;  
}
.div2{
    width: 45%;
    float: left;
}
.divBilde{
    width: 45%;
    height: 400px;
    border-radius: 5px;
    float: right;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 9px 5px 5px 3px #888888;
}

.divTekst{
    font-family: "Times New Roman", Times, serif;
    float: left;
}
.divBunn{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    float: right;
    border: 5px solid black;
}

.bannerForside{
    position: fixed;
    top:1%;
    height:10%;
    width:99%;
    filter: alpha(opacity=100);
}

.marg{
    position:absolute;
    color: black;
    left: 0px;
    height: 100%;
    width: 10px; 
}

.biSide{
    position:absolute;
    left:225px;
    top:15%;
    width: 80%;
    height: 45%;
    
}
.sjappe1{
    position: absolute;
    left:0px;
    height:80%;
    top:0px;
    width: 32%;
    box-shadow: 3px 3px 3px 2px #888888;
   
}
.sjappe11{
    position: absolute;
    left:0px;
    height:20%;
    top:80%;
    width: 33%;
}
.sjappe2{
    position:absolute;
    left:33%;
    height:80%;
    top:0px;
    width: 33%;
    box-shadow: 3px 3px 3px 2px #888888;

   
}
.sjappe22{
    position: absolute;
    left:33%;
    height:20%;
    top:80%;
    width: 34%;
    
}
.sjappe3{
    position:absolute;
    left:67%;
    height:80%;
    top:0px;
    width: 32%;
    box-shadow: 3px 3px 3px 2px #888888;
 
 
}
.sjappe33{
    position: absolute;
    left:67%;
    height:20%;
    top:80%;
    width: 33%;
  
}
.biSide1{
    position:absolute;
    left:225px;
    width: 80%;
    height: 45%;
    top: 75%;
    
}
.sjappe4{
    position: absolute;
    left:0px;
    height:80%;
    top:0px;
    width: 32%;
    box-shadow: 3px 3px 3px 2px #888888;
}
.sjappe44{
    position: absolute;
    left:0px;
    height:20%;
    top:80%;
    width: 33%;
}
.sjappe5{
    position:absolute;
    left:33%;
    height:80%;
    top:0px;
    width: 33%;
    box-shadow: 3px 3px 3px 2px #888888;
   
}
.sjappe55{
    position: absolute;
    left:33%;
    height:20%;
    top:80%;
    width: 34%;
    
}
.sjappe6{
    position:absolute;
    left:67%;
    height:80%;
    top:0px;
    width: 32%;
    box-shadow: 3px 3px 3px 2px #888888;
 
}
.sjappe66{
    position: absolute;
    left:67%;
    height:20%;
    top:80%;
    width: 33%;
  
}
.omoss{
    position: absolute;
    top: 170px;
    left:40px;
    width: 200px;
    padding: 10px;
    height:150px;
}
.omossTxt{
    position: relative;
}
.bilde_omoss{
    margin-right: 20px;
    float: left;
    clear: both;
}
.slagord{
    position:absolute;
    top: 54%;
    left: 34%;
}
ul.a {
    list-style-type: square;
}

img.portrettbilde{
    position: relative;
    width: 100%;
    height: 100%
    
}
img.knapphjem{
    position: relative;
    width: 60%;
    height: 60%;
}

div.bakgrunn{
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height:100%;
}
img.bakgrunn {
    left: 0px;
    right: 0px;
    top: 0px; 
    width: 100%;
    height: 100%;
    opacity: 20;
  }
  
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color:grey;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}


a.a1:link {
    color: black !important;
    background-color: transparent;
    text-decoration: none;
}
a.a1:visited {
    color:black !important;
    background-color: transparent;
    text-decoration: none;
}
a.a1:hover {
    color:grey !important;
    background-color: transparent;
    text-decoration: underline;
}
a.a1:active {
    color: blue !important;
    background-color: transparent;
    text-decoration: underline;
}

.button3 {border-radius: 8px;}
.bannerForside{
    position: fixed;
    top:1%;
    height:10%;
    width:99%;
    filter: alpha(opacity=100);
}
.bannerBiside{
    position: fixed;
    background-color: white; 
    top:0px;
    height:70px;
    width:99%;
    filter: alpha(opacity=100);
}

.marg{
    position:absolute;
    color: black;
    left: 0px;
    height: 100%;
    width: 10px; 
}

.innholdsfortegnelse{
    position:fixed;
    width:200px;
    height:215px;
    top:42%;
    padding: 10px;
    /*box-shadow: 3px 3px 3px 2px #888888; */  
}
.boksOmOss{
    position:absolute;
    padding: 10px;
    left:225px;
    margin-left: 20px;
    top:80px;
    width: 80%;
    height: 400px;
    background-color:white;
    border: 2px solid black;
    border-radius: 5px;
}
.margOss{
    margin: 20px;
}
.knapp{
    position: fixed;
    left: 35px;
    width: 190px;
    height: 70px;
    border: 2px solid black;
    border-radius: 5px;
}
.knappLastNed{
    top: 80px;
}
.knappLastNed:hover{
    background-color: chartreuse;
}
.knappLast{
    top: 170px;
}
.knappLast:hover{
    background-color: chartreuse;
}

/*siden med xml sin ekstra stiler*/
.divxml{
    margin: 10%;
    margin-left: 220px;
}
.svartTekst:visited{
    color: black;
}
.littLuft{
    margin-top: 10px; 
}
td.tabellAlign{
   width: 25%; 
}
th.tabellAlign{
    width:25%;
}









/* For informasjonssidene om oss*/

div.hjemknapp{
    position:absolute;
    top:20px;
    left:25px;
    width:10%;
    border: 1px;
    border-radius: 10px;
}

img.portrettbilde{
    position: relative;
    width: 100%;
    height: 100%
    
}
img.knapphjem{
    position: relative;
    width: 55%;
    height: 55%;
}
