.table1{
    color: black;
    font-size: 30px;
    border: 12px;
    
}
    table, th, td {
        border: 1px solid black;
}

.div1{
    width: 730px;
    border:  1px solid yellow;  
}
.div2{
    width: 45%;
    float: left;
}
.divBilde{
    width: 45%;
    height: 400px;
    border-radius: 5px;
    float: right;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 9px 5px 5px 3px #888888;
}

.divTekst{
    font-family: "Times New Roman", Times, serif;
    float: left;
}
.divBunn{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    float: right;
    border: 5px solid black;
}

